h1{
    font-family: "Libre Baskerville";
    color: white;
    text-align: center;
  }
body{
    background-color: black;
}
img{
    border: 5px white solid;
    width: 100%;
}
p{
    font-family: "Libre Baskerville";
    color: white;
    text-align: center;
}
div{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}
*{
    text-transform: uppercase;
}